section {}

.grim { background-color: var(--grim); }

.about, .employers, .expertise, .education, .tools {
	margin: 0 auto;
	padding: 80px var(--keyGap);
	display: flex;
	flex-direction: column;
	row-gap: 80px;
	max-width: 1400px;
}

.about-content {
	display: grid;
	grid-template-columns: auto;
	gap: 24px 64px;
}

.about-content h1 {
	margin-bottom: 48px;
	font-size: 96px;
	line-height: 100%;
	grid-column: 1 / 2;
	letter-spacing: 0.05rem;
}

.text-block {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	text-wrap: pretty;
	max-width: 66ch;
}

.about-content img {
	max-width: 420px;
	border-radius: 50%;
	width: 100%;
	height: auto;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.org-history {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.card, .accomplishments, .responsibility, .expertise ul li {
	display: flex;
	flex-direction: column;
}

.card {
	border-radius: 32px;
	padding: 48px;
	background-color: #171B1F;
	gap: 56px;
}

.card h4 {
	font-weight: 500;
}

.company {
	display: flex;
	gap: 56px;
	flex-direction: row-reverse;
}

.company .name-and-location, .position {
	display: flex;
	align-items: baseline;
	gap: 12px;
	flex-wrap: wrap;
}

.company .description {
	max-width: 80ch;
}

.company-details {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-grow: 1;
}

/* Employee logos */

.eliza-logo {width: min-content; height: 36px;}
.harmonize-logo {width: min-content; height: 24px;}
.turisto-logo-about {width: auto; height: 28px;}
.tmg-logo {width: min-content; height: 56px;}
.mod-logo {width: min-content; height: 40px;}
.havas-logo {width: min-content; height: 28px;}
.sales-machine-logo {width: min-content; height: 64px;}




.position b {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;
}

.accomplishments, .responsibility {
	row-gap: 8px;
}

.responsibility ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.responsibility ul li {
	font-size: 16px;
	line-height: 120%;
	padding: 10px 16px;
	background: #272D33;
	border-radius: 8px;
}

.accomplishments ul {
	list-style-type: '— ';
	display: grid;
	grid-template-columns: auto auto;
	gap: 36px 88px;
	padding-left: 24px;
}

.accomplishments ul li::marker {
	color: var(--grayed);
}

.expertise ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 88px 56px;

}

.expertise ul li {
	row-gap: 20px;
	flex: 1;
	min-width: 32ch;
}

.expertise h3 {
	color: var(--expertise);
	font-size: 32px;
	font-weight: 550;
	letter-spacing: 0.04rem;
}

.expertise .icon {
	width: 40px;
	height: 40px;
}

.alma-mater-list {
	display: flex;
	gap: 24px;
}

.alma-mater-list .card {
	width: 100%;
	min-width: 240px;
	padding: 36px 40px;
	justify-content: space-between;
	gap: 64px;
}

.alma-mater {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1;
}

.alma-mater .name-and-location {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.role-and-year b {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
	color: var(--expertise);
	margin-top: 8px;
	display: block;
}

/* Tools */

.tools ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.tools ul li {
	font-size: 16px;
	line-height: 120%;
	color: #000;
	padding: 6px 16px;
	background: linear-gradient(180deg, #CCDAE3 0%, #91A1AD 100%);
	border-radius: 20px;
}

.cv-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	font: inherit;
	color: #139FE5;
	padding: 8px 16px;
	border-radius: 12px;
	border: 1px solid #139FE5;
	width: fit-content;
	transition: 0.2s;
}

.cv-button svg {
	fill: #139FE5;
	transition: 0.2s;
}

.cv-button:hover {
	color: #fff;
	background-color: #139FE5;
}

.cv-button:hover svg {
	fill: #fff;
}