/* Section backgrounds  */

.bg-blue-gradient {
    background: linear-gradient(180deg, #1986CF 0%, #15468F 100%);
}

.chart-block {
    background: linear-gradient(180deg, #1C1133 10%, #1A286B 98%);
}

.medication-block {
    background: linear-gradient(180deg, #18824D 0%, #105231 100%)
}

.mobile-experience {
    background: linear-gradient(180deg, #0D1931 0%, #164A8D 100%);
}

.eng-prime-block {
    background-color: #1E2E40;
}

.bg-yellow-gradient {
    
    background:
    radial-gradient(70.82% 13.8% at 50% -7.95%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFBE1A;
}

/* Main case settings */

p, .case h1, .case h2, .case h3 {
    max-width: 880px;
}

.case {
    max-width: var(--maxWidth);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 88px;
    padding: 104px 24px;
}

.max-1200 {
	max-width: 1200px;
}

.bottom-padding-0 {
    padding-bottom: 0;
}

.case h1 {
    font-size: 88px;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 24px;
}

.case h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
}

.case h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: auto;
}

.w-100 {
    width: 100%;
    height: auto;
}


/* Typography coloring */

.black-copy {
    color: #14171A;
}

.white-copy {
    color: #fff;
}

.black-copy h2 {
    font-weight: 800;
    font-variation-settings: 'wght' 780;
}

.black-copy p {
    font-weight: 500;
    font-variation-settings: 'wght' 440;
    letter-spacing: 0;
}


/* Harmonize snippets */

.h-logo {
    width: 76px;
    height: auto;
    opacity: 0.4;
    margin-bottom: 12px;
}

.charts-review {
    gap: 104px;
}

.charts-review img, .bp-chart img {
    width: 1136px;
    height: auto;
}

.charts-review .description {
    text-align: left;
    margin: 0;
}

.bp-chart .description img {
    width: 136px;
    height: auto;
    margin-bottom: 24px;
}

.bp-chart {
    display: grid;
    grid-template-columns: auto auto;
    gap: 48px;
    align-items: last baseline;
    height: 578px;
}

.bp-chart .description p {
    width: 408px;
}

.asset {
    display: grid;
    grid-template-columns: auto auto;
    gap: 64px;
    align-items: center;
    max-width: 1200px;
}

.phone {
    width: 387px;
    height: auto;
    box-shadow: 0px 47px 38px -25px rgba(0, 0, 0, 0.6);
    border-radius: 32px;
}

.browser {
    width: 1200px;
    height: auto;
}

.browser-frame {
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3),
                0px 56px 80px rgba(0, 0, 0, 0.36);
}

.hide-overflow-content {
    overflow: hidden;
}

.image-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 747px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.image-wrapper img {
    width: 1187px;
    height: auto;
}


/* Turisto snippets */

.turisto-logo {
    width: 390px;
    height: auto;
    margin-bottom: 24px;
}


/* English Prime snippets */

.english-prime h1 {
    color: #FB284B;
}

.english-prime h1 span {
    color: #009DEB;
}

.eng-prime-block video {
    width: 1542px;
    height: auto;
    border-radius: 12px;
}