.portfolio {
	display: grid;
	gap: 80px var(--keyGap);
	grid-template-columns: repeat(2, 1fr);
	margin-top: 56px;
}

.project {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	line-height: 140%;
	font-weight: 300;
	color: var(--grayed);
}

.project h1 a {
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

.project h1 a:hover {
	background: linear-gradient(180deg, #87D7FF 10%, #408CFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

h1.locked a {
	color: var(--grayed);
}

h1.locked a:hover  {
	-webkit-text-fill-color: var(--grayed);
	cursor:auto;
}

h1.locked img {
	width: 26px;
	height: 26px;
	border-radius: 0;
}

.project p {
	margin-bottom: 16px;
}

.project img {
		width: 100%;
		height: auto;
		aspect-ratio: 1.5;
		object-fit: cover;
		border-radius: 12px;
}

.fullwidth {
	grid-column: 1 / 3;
}

.fullwidth img {
	aspect-ratio: 2;
}

.turisto {
	background:
	radial-gradient(62.63% 49.81% at 50% -20.52%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0) 100%),
	linear-gradient(180deg, #FACA1B 17.16%, #EB8305 100%);
	width: 100%;
	height: auto;
}

.ennifoods {
	background-color: #599729;
}

a.locked {
	position: relative;
	cursor:auto;
}

.coming-soon {
	background-color: #000;
	color:#889299;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0.02em;
	padding: 6px 12px 6px 8px;
	display: inline-flex;
	gap: 8px;
	position: absolute;
	top: 12px;
	right: 12px;
	align-items: center;
	border-radius: 6px;
}

.coming-soon img {
	width: 24px;
	height: 24px;
	border-radius: 0;
}