:root {
	--Res1200: calc((100vw - 48px) / 1200);
	--Res680: calc((100vw - 48px) / 680);
}

@media (max-width: 1648px) {
	.sparkus {
		background-size: 100% auto, auto 100%;
	}
}

@media (max-width: 1590px) {
	.eng-prime-block video {
		width: calc(100vw - 48px);
		height: auto;
		border-radius: calc(100vw / 1590 * 12);
	}
}


@media (max-width: 1448px) {
	.many-screens img {
		border-radius: calc(16 / 1448 * 100vw);
	}
}


@media (max-width: 1400px) {
	.case {
		padding: 88px 24px;
	}
}

@media (max-width: 1382px) {
	.elevated-light, .light-schemes, .modular-system, .promo-mat {
		grid-column: auto / span 6;
	}

	.beacon-light, .inset-light {
		grid-column: auto / span 3;
	}

}

@media (max-width: 1248px) {
	
	.about-content img {
		grid-column: 1 / 2;
		grid-row: 3 / 3;
		width: 320px;
		margin-top: 24px;
	}

	.about-content {
		row-gap: 24px;
	}

	.text-block {
		max-width: 912px;
	}

	.case {
		grid-template-columns: calc(100vw - 48px);
	}

	.charts-review img {
		width: calc(var(--Res1200) * 1136);
		height: auto;
	}

	.bp-chart {
		height: calc(100vw / 1248 * 587);
	}
	
	.bp-chart img {
		border-radius: .96vw;
		width: calc(var(--Res1200) * 1136);
		height: auto;
	}

	.bp-chart .description p {
		width: calc(var(--Res1200) * 408);
		min-width: 330px;
	}

	.browser-frame {
		width: calc(var(--Res1200) * 1200);
		height: auto;
		border-radius: 0.96vw 0.96vw 0 0;
		box-shadow: 0px 1.603vw 2.403vw rgba(0, 0, 0, 0.3),
					0px 4.49vw 6.41vw rgba(0, 0, 0, 0.36);
	}

	.browser {
		width: calc(var(--Res1200) * 1200);
		height: auto;
	}

	.phone {
		width: calc(var(--Res1200) * 387);
		border-radius: calc(var(--Res1200) * 32);
		box-shadow: 0px 3.77vw 3.04vw -2vw rgba(0, 0, 0, 0.6);
	}

	.asset {
		gap: calc(var(--Res1200) * 64);
	}

	.max-1200 {
		max-width: none;
	}

	.image-wrapper {
		margin: 0 auto;
		width: calc(var(--Res1200) * 1166);
		height: calc(var(--Res1200) * 747);
	}
	
	.image-wrapper img {
		width: calc(var(--Res1200) * 1187);
		height: auto;
	}

	.promo-mat img {
		border-radius: calc(16 / 1200 * 100vw);
	}

	.sparkus-banner img {
		width: calc(1000 / 1248 * 100vw);
	}
}

@media (max-width: 1050px) {
	.sparkus-banner svg {
		width: calc(800 / 1050 * 100vw);
	}
}

@media (max-width: 1036px) {
	.egl3p3 {
		width: 80%;
	}

	.gile, .igl {
		width: 80%;
	}

	.sparkus-logo {
		width: 76vw;
	}
}

@media (max-width: 1024px) {
	.black-copy p {
		max-width: 56ch;
	}
}

@media (max-width: 980px) {
	.beacon-light, .inset-light {
		grid-column: auto / span 6;
	}
}

@media (max-width: 910px) {

	.portfolio {
		display: flex;
		flex-direction: column;
		row-gap: 80px;
	}

	.fullwidth img {
		aspect-ratio: 1.5;
		object-fit: cover;
	}

	.accomplishments ul {
		display: flex;
		flex-direction: column;
	}

	.expertise ul {
		display: flex;
		flex-direction: column;
	}

	.sparkus-wrapper {
		gap: 88px;
	}

	.story-block {
		gap: 56px;
	}

	.schemes {
		margin-bottom: 64px;
	}

	.yellow-modular {
		padding-block: 48px;
	}
}

@media (max-width: 860px) {
	
	.case {
		padding: 80px 24px;
		gap: 64px;
	}

	.bp-chart {
		grid-template-columns: auto;
		gap: 40px;
		align-items: normal;
		height: auto;
	}

	.bp-chart .description p {
		width: auto;
	}

	.bp-chart .description img {
		width: calc(112 / 860 * 100vw); 
		height: auto;
		margin-bottom: calc(8 / 860 * 100vw);
	}

	.mobile-experience .case {
		padding-bottom: 40px;
	}

	.turisto-logo {
		width: calc(390 / 860 * 100vw);
	}

	.schemes {
		gap: 64px;
	}

	.sparkus p {
		width: 76vw;
		line-height: 150%;
		font-size: 16px;
	}

	.lighter_image img {
		width: calc(240 / 680 * 100vw);
	}
}

@media (max-width: 680px) {

	.case {
		padding: calc(80 / 680 * 100vw) 24px;
		gap: calc(64 / 680 * 100vw);
	}

	.case h1 {
		font-size: calc(88 / 680 * 100vw);
	}

	.case h2 {
		font-size: calc(72 / 680 * 100vw);
	}

	.case h3 {
		font-size: calc(40 / 680 * 100vw);
	}

	.description {
		row-gap: calc(32 / 680 * 100vw);
	}

	.h-logo {
		width: calc(76 / 680 * 100vw);
		margin-bottom: 1.76vw;
	}

	.card {
		padding: 40px;
		border-radius: 24px;
	}

	.org-history {
		gap: 32px;
	}

	.schema-item img {
		max-width: calc(320 / 680 * 100vw);
	}

	.schema-item {
		gap: 24px;
	}

	.sparkus-banner {
		gap: 48px;
		padding-top: 80px;
	}
}

@media (max-width: 550px) {	
	header div {
		column-gap: 16px;
	}

	.about, .employers, .expertise, .education, .tools {
		padding: 72px var(--keyGap);
		row-gap: 56px;
	}

	.card {
		padding: 24px;
		border-radius: 24px;
	}

	.org-history {
		gap: 24px;
	}
}



@media (max-width: 520px) {

	.about-content img {
		width: 240px;
		margin-top: 24px;
		justify-self: center;
	}

	.about, .employers, .expertise, .education, .tools {
		padding: 48px var(--keyGap);
		row-gap: 48px;
	}

	.about-content h1 {
		font-size: 64px;
		margin-bottom: 36px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 32px;
	}

	.story-block {
		gap: 32px;
	}
}


@media (max-width: 460px) {

	.dima-demian a {
		font-size: 11.4vw;
		font-weight: 400;
	}

	nav a {
		font-size: 18px;
	}

	nav {
		column-gap: 24px;
	}

	body {
		font-size: 16px;

	}

	.position b {
		font-size: 18px;

	}

	.about, .employers, .expertise, .education, .tools {
		padding: 36px var(--keyGap);
		row-gap: 36px;
	}

	.project p {
		margin-bottom: 8px;
	}
}



@media (max-width: 390px) {
	
	.portfolio {
		gap: 48px var(--keyGap);
		margin-top: var(--keyGap);
	}

	.portfolio h1 a {
		font-size: 9.2vw;
	}
}



@media (max-width: 360px) {
	
	.about-content h1 {
		font-size: 17.78vw;
		margin-bottom: 8px;
	}

	h2 {
		font-size: 13.33vw;
	}

	h3 {
		font-size: 8.88vw;
	}
	
	.expertise ul {
		gap: 40px;
	}


	footer ul {
		column-gap: 20px;
	}
}


/* Important */

.bottom-padding-0 {
	padding-bottom: 0;
}